body {
    background-color: rgb(195, 206, 216);
}

.btn:hover {
    transform: scale(1.05);
}

img{
    object-fit: cover;
    width: 100% !important;
    height: 500px !important;
    }
    
iframe{
    object-fit: fill;
    display:block;
    width:100% !important;
    height: 500px !important;
}